{
    "semi": false,
    "useTabs": false,
    "tabWidth": 4,
    "printWidth": 100,
    "endOfLine": "lf",
    "singleQuote": false,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "bracketSpacing": true
}
